*.swp
.DS_Store

config.yaml
!config.yaml.example
.env
!.env.sample

vendor/
.bin/

dist/
node_modules/

docker/secrets/*
!docker/secrets/*.secret.example
docker/volumes/db/*
!docker/volumes/db/.gitkeep

profile.log

*.crt
*.key
*.gpg

*.tar
*.gz
*.csv
*.zip
